/* common css start */
body{
    color: #6a6a6a;
    font-size: 15px;
    font-weight: 400;
}
body,p,span{
    font-family: 'Open Sans', sans-serif;
}
body,h1,h2,h3,h4,h5,h6,a{
    font-family: 'Montserrat', sans-serif;

}
/* common css end */
/* header css start */
.header{
   
}
/* header top css start */
.header-top{
    padding: 25px 0;
    border-bottom: 1px solid #dddd;
}
    
.ct-icon{}
.ct-icon i {
    margin-right: 12px;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #1a9bdc;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
}
.ct-content{}
.ct-content h6{
    font-size: 14px;
    margin-bottom:0;
    font-weight: 700;
}
.ct-content p{
    margin-bottom: 0;
}
/* header top css end */
/* header main css start */
.h-menu ul li a{
    font-weight:500;
    font-size: 18px;
    color:#6a6a6a  !important;

}
.h-menu ul li a:hover{
    color: #474747 !important;
}
.header-social ul li a{
    font-size: 18px;
    color: #6a6a6a !important;
    transition: .4s;
}
.header-social ul li a:hover{
    color: #1a9bdc !important;
}
/* header main css end */
/* header css end */

/* banner css start */
.banner{
    background: url(../imgs/banner.jpg) no-repeat center;
    background-size: cover;
}
.banner-caoption{
    padding: 180px 0;
}
.banner-caoption h1{
    margin-bottom: 25px;
    font-size: 47px;
    font-weight: 500;
    color: #474747;

}
.banner-caoption p{
    margin-bottom: 20px;
    color: #3f3f3f;
}
.default-btn{
    font-size: 12px;
    background: #1a9bdc;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: .4s;
}
.default-btn:hover{
    background: #3090ad;
}
/* banner css end */

/* service css start */
.services{
    background: #43b1d2;
}
.service-item {
	padding: 40px 25px;
	color: #ffffff;
}
.bgc1{
    background: #3fb6c6;
}
.bgc2{
    background: #3cbbbb;
}
.bgc3{
    background: #37c3a8;
}
.s-icon{}
.s-icon i{
    margin-top: 20px;
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 22px;
    background: #ffffff;
    color: #3f3f3f;
    border-radius: 50%;

}
.s-content{}
.s-content h2{
    margin:15px 0;
    font-weight: 700;
    font-size: 30px;
}
.s-content p{}
/* service css end */

/* choose us css start */
.why-choose-us{
    padding-top: 80px;
}
.similar-title{}
.similar-title h1{
    font-size: 40px;
    font-weight: 700;
    color: #494949;
}
.similar-title p{
    margin-top: 20px;
    line-height: 25px;
}

.choose-content{
    margin-top: 40px;
    padding:10px 40px;
}
.choose-content p{
    margin-top: 25px;
}
.c-icon{}
.c-icon i {
	display: inline-block;
	margin-right: 8px;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #1a9bdc;
	color: #ffffff;
	border-radius: 50%;
}
.c-head{}
.c-head h2 {
	font-size: 26px;
	color: #6f6f6e;
	font-weight: 700;
}

/* choose us css end */

/* counter css start */
.counter{
    background: url(../imgs/counter-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
}
.counter-item{
    margin:40px 0;
    color: #ffffff;
}
.counter-item h2{
    margin-top: 20px;
    margin-bottom: -8px;
    font-size: 50px;
}
.counter-item h5{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}
.c-icon{}
.h-arrow {
	display: inline-block;
	width: 60px;
	height: 4px;
	background: #ffffff;
}
/* counter css end */

/* creative css start */
.creative{
    padding: 60px 0;
}
.creative-content{
    margin-top: 40px;
}
.creative-content p{}
.creative-content figure img{
    margin-bottom: 25px;
    width: 100%;
}
.creative-content figure h2 {
	font-size: 20px;
}
.creative-content figure figcaption {
	font-weight: 600;
}
/* creative right css */
.mc-item {
	border: none !important;
}
.mc-header {
	margin: 20px 0;
}
.mc-btn {
	padding: 5px 7px;
    font-size: 20px;
    font-weight: 600;
    color: #6a6a6a !important;
	background-color: #ddd;
    border-radius: 50px !important;
}
.mc-btn::after{
    display: none;
}
.mc-btn::before {
	margin-right: 15px;
	content: "\f0da";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ffffff;
	color: #0087be;
	border-radius: 50%;
}
.mc-btn:focus{
    box-shadow: none;
    color: white;
    /* background: #1a9bdc !important; */
}
.mc-btn:not(.collapsed) {
    color: white !important;
	background: #1a9bdc !important;
}
.ac-body {
    margin-bottom: 30px;
	padding: 0 25px !important;

}

/* creative css end */

/* gallery css start */
.gallery{
    background: url(../imgs/g-bg.jpg) no-repeat center;
    background-size: cover;
    padding: 60px 0;
}
.gallery-title{
    color: #ffffff !important;
}
.gallery-title h1{
    color: #ffffff !important;
}
.gallery-img{
    margin-top: 30px;
}
.gallery-img img{
    width: 100%;
}
/* gallery css end */

/* our team css start */
.our-team{
    padding-top: 60px;
    padding-bottom: 150px;
}
.team-member{
    margin-top: 60px;
}
.member-bio h3{
    font-size: 25px;
    font-weight: 600;
}
.member-bio p{
    font-size: 18px;
    font-weight: 600;
}

/* team carousel css */
.mc-indicator {
    bottom: -100px;
   text-align: center;
}
.mc-indicator [data-bs-target] {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #6a6a6a;
    border-radius: 50%;
	
}
/* our team css end */
.offer{
    background: #e2e2e2;
    padding: 40px 0;
}
.offer-heading {
	margin-bottom: 0;
	color: #474747;
	font-size: 26px;
	font-weight: 700;
}

/* footer css start */
.footer{}
.footer-top{
    padding: 80px 0;
    background: #171717;
}
.ft-widget{
    margin-bottom:35px;
}
.ft-widget h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.ft-contact ul li{
    margin: 20px 0;
    
}
.ft-contact ul li p{
    margin-bottom: 0; 
}
.ft-social ul li a{
    margin: 0 5px;
    color: #ffffff !important;
}
.ft-social ul li a:hover{
    color: #43b1d2 !important;
}
.ft-menu ul li::before{
    margin-right: 10px;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #43b1d2;
}
.ft-menu ul li a{
    margin: 5px 0;
    display: inline-block;
    color: #6a6a6a;
    text-decoration: none;
}
.ft-menu ul li a:hover{
    color: #ffffff !important;
}

.form-name, .form-phone, .form-massage{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #6a6a6a;
}
.form-name:focus, .form-phone:focus, .form-massage:focus{
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #6a6a6a;
    color: aqua;
}

.footer-bottom{
    padding: 30px 0;
    background: #1a1a1a;
}
/* footer css end */
